In [1]:
import numpy as np
import pandas as pd
from gensim.models.keyedvectors import KeyedVectors
from nltk.corpus import stopwords
from sklearn.ensemble import RandomForestClassifier
import sklearn.metrics
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from sklearn.metrics import classification_report
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [2]:
df = pd.read_csv('train_split_Depression_AVEC2017.csv',delimiter=',',encoding='utf-8')
df.head()

,Participant_ID,PHQ8_Binary,PHQ8_Score,Gender,PHQ8_NoInterest,PHQ8_Depressed,PHQ8_Sleep,PHQ8_Tired,PHQ8_Appetite,PHQ8_Failure,PHQ8_Concentrating,PHQ8_Moving
0,303,0,0,0,0,0,0.0,0,0,0,0,0
1,304,0,6,0,0,1,1.0,2,2,0,0,0
2,305,0,7,1,0,1,1.0,2,2,1,0,0
3,310,0,4,1,1,1,0.0,0,0,1,1,0
4,312,0,2,1,0,0,1.0,1,0,0,0,0

In [3]:
df2 = pd.read_csv('test_split_Depression_AVEC2017.csv',delimiter=',',encoding='utf-8')
df2.head()

   participant_ID  Gender
0             300       1
1             301       1
2             306       0
3             308       0
4             309       1

In [4]:
df3 = pd.read_csv('dev_split_Depression_AVEC2017.csv',delimiter=',',encoding='utf-8')
df3.head()

,Participant_ID,PHQ8_Binary,PHQ8_Score,Gender,PHQ8_NoInterest,PHQ8_Depressed,PHQ8_Sleep,PHQ8_Tired,PHQ8_Appetite,PHQ8_Failure,PHQ8_Concentrating,PHQ8_Moving
0,302,0,4,1,1,1,0,1,0,1,0,0
1,307,0,4,0,0,1,0,1,0,2,0,0
2,331,0,8,1,1,1,1,1,1,1,1,1
3,335,1,12,0,1,1,3,2,3,1,1,0
4,346,1,23,0,2,3,3,3,3,3,3,3

In [5]:
# df4 = pd.read_csv('full_test_split.csv',delimiter=',',encoding='utf-8')
# df4.head()

In [6]:
dataset1 = np.array(pd.read_csv('dev_split_Depression_AVEC2017.csv',delimiter=',',encoding='utf-8'))[:, 0:2]
dataset2 = np.array(pd.read_csv('full_test_split.csv',delimiter=',',encoding='utf-8'))[:, 0:2]
dataset3 = np.array(pd.read_csv('train_split_Depression_AVEC2017.csv',delimiter=',',encoding='utf-8'))[:, 0:2]

In [7]:
dataset2.shape

(47, 2)

In [8]:
dataset = np.concatenate((dataset1, np.concatenate((dataset2, dataset3))))

In [9]:
pos = []
neg = []

In [10]:
def checkPosNeg(dataset, index):
    for i in range(0, len(dataset)):
        if(dataset[i][0] == index):
            return dataset[i][1]
    return 0

In [11]:
for i in range(len(dataset)):
        if(dataset[i][1] == 1):
            neg.append(dataset[i][0])
        else:
            pos.append(dataset[i][0])
            
pos = np.array(pos)
neg = np.array(neg)

In [12]:
pos.shape, neg.shape

((133,), (56,))

In [13]:
df = pd.read_csv("300_TRANSCRIPT.csv",delimiter='\t',encoding='utf-8')
df.head()

,start_time,stop_time,speaker,value
0,36.588,39.668,Ellie,hi i'm ellie thanks for coming in today
1,39.888,43.378,Ellie,i was created to talk to people in a safe and ...
2,43.728,48.498,Ellie,think of me as a friend i don't judge i can't ...
3,49.188,52.388,Ellie,i'm here to learn about people and would love ...
4,52.658,58.958,Ellie,i'll ask a few questions to get us started and...

In [57]:
Data = []
Y = []
Data_test = []
Y_test = []
index = -1
for i in range(0, len(dataset3)):
    val = checkPosNeg(dataset, dataset3[i][0])
    Y.append(val)
    
    fileName = str(int(dataset3[i][0])) + "_TRANSCRIPT.csv"
    Data.append(np.array(pd.read_csv(fileName,delimiter='\t',encoding='utf-8'))[:, 2:4])


for i in range(0, len(dataset1)):
    val = checkPosNeg(dataset, dataset1[i][0])
    Y.append(val)
    fileName = str(int(dataset1[i][0])) + "_TRANSCRIPT.csv"
    Data.append(np.array(pd.read_csv(fileName,delimiter='\t',encoding='utf-8'))[:, 2:4])

In [58]:
for i in range(0, len(dataset2)):
    Y_test.append(checkPosNeg(dataset, dataset2[i][0]))
    fileName = str(int(dataset2[i][0])) + "_TRANSCRIPT.csv"
    Data_test.append(np.array(pd.read_csv(fileName,delimiter='\t',encoding='utf-8'))[:, 2:4])

In [99]:
Y

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
137    1.0
138    0.0
139    0.0
140    0.0
141    0.0
Length: 142, dtype: float64

In [61]:
#Y = np.array(Y)
Data2 = []

Data2_test = []
#Y_test = np.array(Y_test)

In [62]:
for i in range(0, len(Data)):
    script = []
    for k in range(1, len(Data[i])):
        if(Data[i][k][0] == "Participant"):
            script.append(Data[i][k][1])
    Data2.append(script)
    
for i in range(0, len(Data_test)):
    script = []
    for k in range(1, len(Data_test[i])):
        if(Data_test[i][k][0] == "Participant"):
            script.append(Data_test[i][k][1])
    Data2_test.append(script)
        
# Data2 = np.array(Data2)
# Data2_test = np.array(Data2_test)

In [63]:
# def remove_context_symbol(text):
#     import re
#     return re.sub('<[^>]+>', '', text)

In [64]:
len(Data2)

142

In [65]:
# d = {'%s' % i: [i + 1] for i in range(len(Data2))}

In [66]:
# for n in range(len(Data2)):
#   for k in range(len(Data2[n])):
#     d[str(n)] = (remove_context_symbol(Data2[n]))

In [67]:
# from gensim.models import Word2Vec
# import gensim.downloader as api
# info = api.info()
# model = api.load("glove-twitter-25")
# stop_words = set(stopwords.words('english'))

In [68]:
# def remove_StopWOrds(sentence):
#     filtered_sentence = [] 
#     for w in sentence: 
#         if w not in stop_words: 
#             filtered_sentence.append(w)
    
#     return filtered_sentence

In [69]:
max_num_words = 15
max_num_sentence = 200

In [70]:
len(Data2_test), len(Data2)

(47, 142)

In [71]:
# X = Data2
# Y = Data2_test

In [74]:
%run preprocessing.ipynb

ERROR:root:File `'data.ipynb.py'` not found.

Requirement already satisfied: tweet-preprocessor in /usr/local/lib/python3.7/dist-packages (0.6.0)
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Package words is already up-to-date!

In [75]:
for n in range(len(Data2)):
  Data2[n] = remove_bad_symbols(str(Data2[n]))

In [76]:
for n in range(len(Data2_test)):
  Data2_test[n] = remove_bad_symbols(str(Data2_test[n]))

In [77]:
X = pd.DataFrame(Data2)
X_test = pd.DataFrame(Data2_test)

In [78]:
X.shape

(142, 1)

In [79]:
Y = pd.Series(Y)

In [80]:
Y_test = pd.Series(Y_test)

In [81]:
Y_test.shape

(47,)

In [82]:
X = X[0]

In [83]:
X_test = X_test[0]

In [101]:
def stop_words_and_lemmatizer(text):
    """ Remove Stop words from text """
    stopwords = nltk.corpus.stopwords.words('english')
    stopwords.append('um')
    stopwords.append('uh')
    stopwords.append('like')
    stopwords.append('know')
    stopwords.append('m')
    stopwords.append('mm')
    stopwords.append('mhm')
    stopwords.append('much')
    stop_words = set(stopwords)
    
    word_tokens = nltk.word_tokenize(text) 
    
    without_stopwords = [w for w in word_tokens if not w in stop_words]
    text = ' '.join(without_stopwords)
    return text

In [102]:
for n in range(len(X)):
  X[n] = stop_words_and_lemmatizer(X[n])

In [103]:
for n in range(len(X_test)):
  X_test[n] = stop_words_and_lemmatizer(X_test[n])

In [87]:
X[0]

'okay bout california yeah oh well big broad lot lot job opportunities states pretty much big lot traffic maybe violence rate bad news even though wan na going environment still watch look see going daily basis sociology two year degree liberal arts major sociology actually m_t_a bus operator well since metro steady growing dream job move company actually start classes supervisory next week cause look promote within company good thing lot opportunities metro take classes pay tuition things nature thanks well actually hard right easy take advantage right cause look promote within since already working good thing good go ahead take classes need interested go ahead move ladder soon possible mean sorry okay read take long walk hot bath meditate close eyes sometimes pretty much good see bus operator run circumstances situations got ta remain calm still remain professional time well look goes mean comes experience something continuous basis usually somewhere line become good look driving years dealing public handle circumstances treat people wan na treated pretty good maybe younger get older get wiser learn different things still learning today would say family kids even though lot deaths around go part life experience born got ta leave one day kids keep sane love family thank laughter setting good examples first teacher wan na set positive good example kids think good thing starts home well first teacher kids one see daily basis wake whatever taught home lookin learning every day whether home school people kids tendency things see mean try keep positive teach em good morals values get along people regardless race different things nature four half year old son seven year old daughter also twenty three year old yeah bout well daughter pregnant boy three little girls three grandkids one way boy time yeah thank hardest thing well right single parent makes hard alone expensive times depends person situation whether help job things nature help situation better hard try keep job keep food house maintain support kids best way kids period memorable one family degree kinda yeah kinda even though baby ten kids always kept back mind even though everybody well pretty much whole family decent job one degree kinda gave pat back thing remember graduating family support thank happy accomplished something even though may much better high school diploma working bachelor degree ended bad car accident never went back got distracted working time moreso needed income schooling time young parent cause daughter seventeen needed money support never went back feel never late feel take classes metro help move ladder starting class next week thank hm well advice would gave probably young mother young age probably would stayed school let accident distract would remained school probably kids early rather probably would stayed school probably part time job something feel education excellent thing person knowledge learning different things keeping mind open learning new ideas every day think plus anybody shoes better selves education maybe maybe promote within company whatever case may help better career quite sure learn mistakes time continue make ones feel okay make mistake long something change even though going school late still going wan na better career wise yes oldest daughter argument life living right things going told needed make changes better situation got argument kids sometimes wan na hear hear stuff saying even though true well wan na hear may going something wan na hear got argument happened told sorry close close situation daughter needs make changes better life telling kinda stubborn way raised listen mom mom gon na tell nothing wrong telling years different things kinda talking wall opposite regretting cause mom told mom opposite guess got ta bump head couple times get kinda done told done left alone make change frustrating talking wall hearing seem taking forever change left individual whenever ready mean person get tired something make change may want happen ball court much oh wow days since two little ones kinda trained go bed eight clock got ta go school think important good night rest kinda clears throat kinda gets ready next day gon na feel rested type person day cause everybody days whether good bad part life feel good night good good night rest hopefully good day pretty much need rest driving bus dealing people job stressful feel rested help irritated tired lazy feel wan na lay probably go sleep laughter get rest need laughter never thought cause said everybody moments never thought hm really best friend person deal used work would probably tell outgoing go getter dependable responsible people person get along others kinda leave good good mark whether probably say oh seems nice young lady whatever something thank well try stay happy rather happy sad kids keep going mean especially go pick school hey mom kinda make day run happy excited mean thank welcome good day goodbye'

In [104]:
tfid3 = TfidfVectorizer(ngram_range=(1,2))
nb3 = MultinomialNB(alpha = 1.0)
tfid3.fit(X)
vector3 = tfid3.transform(X)
nb3.fit(vector3, Y)

MultinomialNB()

In [106]:
coefs = pd.Series(nb3.coef_[0], index = tfid3.get_feature_names())
coefs.sort_values(ascending=False).head(30)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:103: FutureWarning: Attribute `coef_` was deprecated in version 0.24 and will be removed in 1.1 (renaming of 0.26).
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

really       -9.677077
laughter     -9.786871
yeah         -9.840236
people       -9.929464
well         -9.946989
think        -9.966093
lot          -9.990655
things      -10.026818
would       -10.095657
sigh        -10.097172
good        -10.153710
go          -10.165007
time        -10.195348
get         -10.201266
probably    -10.209971
mean        -10.241020
feel        -10.293962
guess       -10.321331
yes         -10.349190
say         -10.368649
pretty      -10.373294
life        -10.398144
kind        -10.404774
try         -10.418627
something   -10.424607
little      -10.430109
hard        -10.435317
see         -10.444166
oh          -10.448933
sometimes   -10.464954
dtype: float64

In [93]:
tfid3.fit(X_test)
vector4 = tfid3.transform(X_test)
nb3.fit(vector3)
nb3.predict(vector4)

ValueError: ignored

In [107]:
nb3.score(vector3, Y)

0.704225352112676