In [1]:
print('la notebook de Lucas')

la notebook de Lucas

In [2]:
import pandas as pd
import numpy as np

In [3]:
!pwd

/home/lucaspancotto/code/JoacoSoulez/mental_health_first_aid_evaluation/MHFA/notebooks

In [4]:

suicide_watch = pd.read_csv('../../data/reddit_depression_suicidewatch.csv')

#emotion_analysis =pd.read_csv('../../data/training_processed_noemoticon.csv')

# depressive_tweets_df

## drop null values

In [6]:
col_names = ['ids', 'Tweet']
depressive_tweets_df = pd.read_csv("../../data/depressive_tweets_processed.csv", sep = '|', header = None, usecols = [0,5], nrows = 3200, names=col_names)
depressive_tweets_df

                     ids                                              Tweet
0     989292962323615744  The lack of this understanding is a small but ...
1     989292959844663296  i just told my parents about my depression and...
2     989292951716155392  depression is something i don't speak about ev...
3     989292873664393218  Made myself a tortilla filled with pb&j. My de...
4     989292856119472128  @WorldofOutlaws I am gonna need depression med...
...                  ...                                                ...
2340  989036568781389830  Many sufferers of depression aren't sad; they ...
2341  989036542898397185  No Depression by G Herbo is my mood from now o...
2342  989036488162766848  What do you do when depression succumbs the br...
2343  989036488158572544  Ketamine Nasal Spray Shows Promise Against Dep...
2344  989036462271287297  dont mistake a bad day with depression! everyo...

[2345 rows x 2 columns]

In [7]:
depressive_tweets_df.isnull().sum()

ids       0
Tweet    32
dtype: int64

In [10]:
depressive_tweets_df[depressive_tweets_df.Tweet.isnull()]

                                                    ids Tweet
10    989290950563368960|2018-04-25|23:51:57|Eastern...   NaN
87    989288252711620613|2018-04-25|23:41:14|Eastern...   NaN
132   989285572924575744|2018-04-25|23:30:35|Eastern...   NaN
258   989254904408555520|2018-04-25|21:28:43|Eastern...   NaN
278   989254638766505984|2018-04-25|21:27:40|Eastern...   NaN
346   989250907605893120|2018-04-25|21:12:50|Eastern...   NaN
476   989238793592098816|2018-04-25|20:24:42|Eastern...   NaN
487   989238611571871751|2018-04-25|20:23:58|Eastern...   NaN
548   989222043458719744|2018-04-25|19:18:08|Eastern...   NaN
637   989217739347775489|2018-04-25|19:01:02|Eastern...   NaN
680   989217219178586112|2018-04-25|18:58:58|Eastern...   NaN
747   989215780943286272|2018-04-25|18:53:15|Eastern...   NaN
823   989213166709047297|2018-04-25|18:42:52|Eastern...   NaN
842   989212687685971968|2018-04-25|18:40:58|Eastern...   NaN
950   989205143294898176|2018-04-25|18:10:59|Eastern...   NaN
1036  989199943536693249|2018-04-25|17:50:19|Eastern...   NaN
1046  989199810207993856|2018-04-25|17:49:47|Eastern...   NaN
1058  989184157396996097|2018-04-25|16:47:35|Eastern...   NaN
1416  989158461974949889|2018-04-25|15:05:29|Eastern...   NaN
1488  989151493696753664|2018-04-25|14:37:48|Eastern...   NaN
1489  989151489053614080|2018-04-25|14:37:47|Eastern...   NaN
1492  989151423001657344|2018-04-25|14:37:31|Eastern...   NaN
1700  989126609251729408|2018-04-25|12:58:55|Eastern...   NaN
1762  989119248843837440|2018-04-25|12:29:40|Eastern...   NaN
1777  989117842573279233|2018-04-25|12:24:05|Eastern...   NaN
1883  989110991605653506|2018-04-25|11:56:51|Eastern...   NaN
1973  989098284198367232|2018-04-25|11:06:22|Eastern...   NaN
1990  989097834552217600|2018-04-25|11:04:34|Eastern...   NaN
2061  989087422146404355|2018-04-25|10:23:12|Eastern...   NaN
2182  989070428676198402|2018-04-25|09:15:40|Eastern...   NaN
2188  989070245007589377|2018-04-25|09:14:57|Eastern...   NaN
2265  989042941619572736|2018-04-25|07:26:27|Eastern...   NaN

In [11]:
depressive_tweets_df.dropna(inplace=True)
depressive_tweets_df.isnull().sum()

ids      0
Tweet    0
dtype: int64

In [13]:
depressive_tweets_df.dtypes

ids      object
Tweet    object
dtype: object

## duplicate rows

In [24]:
depressive_tweets_df.duplicated().sum()

0

## word preprocess

In [21]:
#filter digits

def remove_digits(txt):
    return ''.join(letter for letter in txt if not letter.isdigit())
    
def remove_undercolon(txt):
    return ''.join(letter for letter in txt if not letter == '_')

def lower_case(txt):
    return txt.lower()

In [20]:
depressive_tweets_df['Tweet'] = depressive_tweets_df['Tweet'].apply(remove_digits)

In [22]:
depressive_tweets_df['Tweet'] = depressive_tweets_df['Tweet'].apply(lower_case)