# traigo model naive Bayes

In [5]:
import joblib

nb3 = joblib.load('nb3_model.sav')

In [6]:
nb3.coef_

array([[-10.83609761, -10.83609761, -10.8258351 , ..., -10.98488125,
        -10.98488125, -10.98488125]])

# traer y preparar data de reddit depression and suicide watch

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
#bring your data!
path = '/home/lucaspancotto/code/JoacoSoulez/mental_health_first_aid_evaluation/data/reddit_depression_suicidewatch.csv'
data = pd.read_csv(f'{path}')
data.head()

#/home/lucaspancotto/code/JoacoSoulez/mental_health_first_aid_evaluation/data/tweets_cleaned.csv

                                                text         label
0  I recently went through a breakup and she said...    depression
1  I do not know how to navigate these feelings, ...    depression
2  So I have been with my bf for 5 months , and h...    depression
3  I am so exhausted of this. Just when I think I...  SuicideWatch
4  I have been severly bullied since i was 5 till...    depression

In [11]:
data.label.unique()

array(['depression', 'SuicideWatch'], dtype=object)

In [15]:
def dep_is_1_sui_is_0(label):
    if label == 'depression':
        return 1
    return 0

In [20]:
data['label']= data.label.apply(dep_is_1_sui_is_0)

In [26]:
data.dtypes

text     object
label     int64
dtype: object

In [33]:
data.head()

                                                text  label
0  I recently went through a breakup and she said...      1
1  I do not know how to navigate these feelings, ...      1
2  So I have been with my bf for 5 months , and h...      1
3  I am so exhausted of this. Just when I think I...      0
4  I have been severly bullied since i was 5 till...      1

# tokenizamos textos segun el vectorizer anterior

In [30]:
tfid3 = joblib.load('tfid3_vectorizer.sav')

In [31]:
X = tfid3.transform(data.text)

# corremos naive bayes con X, y target data.label

In [34]:
nb3.score(X , data.label)

0.5150027009772626