In [1]:
!pwd

/home/lucaspancotto/code/JoacoSoulez/mental_health_first_aid_evaluation/MHFA/notebooks/transcriptions dataset

In [28]:
import pandas as pd
import numpy as np

# transcriptions dataframe

In [54]:
transcriptions = pd.DataFrame()

In [60]:

for n in np.arange(461 , 493):
    
    
    data = pd.read_csv(f'../../../transcriptions/{n}_TRANSCRIPT.csv' , sep = '\t')
    data.dropna(inplace =True)
    
    joint = ' . '.join(data[data.speaker == 'Participant'].value.values)
    transcriptions.loc[n,'text'] = joint

In [62]:
transcriptions.to_csv('../../../transcriptions/transcriptions.csv')

In [104]:
transcriptions.head()

                                                  text
300  good . atlanta georgia . um my parents are fro...
301  thank you . mmm k . i'm doing good thank you ....
302  i'm fine how about yourself  . i'm from los an...
303  okay how 'bout yourself . here in california ....
304  i'm doing good um . from los angeles californi...

# binary target

In [63]:
files = ['dev_split_Depression_AVEC2017','full_test_split','test_split_Depression_AVEC2017','train_split_Depression_AVEC2017']

In [71]:
target = pd.DataFrame()
for file in files:
    
    target = pd.concat([target , pd.read_csv(f'../../../transcriptions/targets/{file}.csv')])

In [95]:
target.head()

,Participant_ID,PHQ8_Binary,PHQ8_Score,Gender,PHQ8_NoInterest,PHQ8_Depressed,PHQ8_Sleep,PHQ8_Tired,PHQ8_Appetite,PHQ8_Failure,PHQ8_Concentrating,PHQ8_Moving,PHQ_Binary,PHQ_Score,participant_ID
0,302.0,0.0,4.0,1,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN
1,307.0,0.0,4.0,0,0.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,NaN,NaN,NaN
2,331.0,0.0,8.0,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN
3,335.0,1.0,12.0,0,1.0,1.0,3.0,2.0,3.0,1.0,1.0,0.0,NaN,NaN,NaN
4,346.0,1.0,23.0,0,2.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,NaN,NaN,NaN

In [94]:

target.drop_duplicates(inplace = True)

In [101]:
target_binary = target[['Participant_ID' , 'PHQ8_Binary']].dropna()

In [106]:
target_binary.set_index('Participant_ID' , inplace=True)

In [109]:
transcriptions_targets = target_binary.merge(transcriptions, left_index=True, right_index=True)

In [110]:
transcriptions_targets.to_csv('../../../transcriptions/targets/transcriptions_targets.csv')