In [1]:
%run data.ipynb
%run preprocessing.ipynb

Requirement already satisfied: tweet-preprocessor in /home/leoasad/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages (0.6.0)
WARNING: You are using pip version 22.0.3; however, version 22.0.4 is available.
You should consider upgrading via the '/home/leoasad/.pyenv/versions/3.8.12/envs/lewagon/bin/python3.8 -m pip install --upgrade pip' command.

[nltk_data] Downloading package punkt to /home/leoasad/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package words to /home/leoasad/nltk_data...
[nltk_data]   Package words is already up-to-date!

In [2]:
data = get_tweets_and_reddit()

data.loc[:,'text'] = clean_text(data['text'])

In [3]:
data

                                                    text  label
0      done honestly last two year shit forced job su...      1
1                                                  shiny      0
2      get yer freak monday great one posible great m...      0
3                                         next min meant      0
4                benacey u twet day u folowing oprah yet      0
...                                                  ...    ...
25363                              toatly pointles video      0
25364        sad policeman kil loan frustration work via      1
25365  heading mal park kid beautiful day everybody e...      0
25366                          min nd half qld scored wo      0
25367                         recognize either guy photo      0

[25368 rows x 2 columns]