In [1]:
import numpy as np
import pandas as pd
from gensim.models.keyedvectors import KeyedVectors
from nltk.corpus import stopwords
from sklearn.ensemble import RandomForestClassifier
import sklearn.metrics
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from sklearn.metrics import classification_report
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [2]:
df = pd.read_csv('train_split_Depression_AVEC2017.csv',delimiter=',',encoding='utf-8')
df.head()

,Participant_ID,PHQ8_Binary,PHQ8_Score,Gender,PHQ8_NoInterest,PHQ8_Depressed,PHQ8_Sleep,PHQ8_Tired,PHQ8_Appetite,PHQ8_Failure,PHQ8_Concentrating,PHQ8_Moving
0,303,0,0,0,0,0,0.0,0,0,0,0,0
1,304,0,6,0,0,1,1.0,2,2,0,0,0
2,305,0,7,1,0,1,1.0,2,2,1,0,0
3,310,0,4,1,1,1,0.0,0,0,1,1,0
4,312,0,2,1,0,0,1.0,1,0,0,0,0

In [3]:
df2 = pd.read_csv('test_split_Depression_AVEC2017.csv',delimiter=',',encoding='utf-8')
df2.head()

   participant_ID  Gender
0             300       1
1             301       1
2             306       0
3             308       0
4             309       1

In [4]:
df3 = pd.read_csv('dev_split_Depression_AVEC2017.csv',delimiter=',',encoding='utf-8')
df3.head()

,Participant_ID,PHQ8_Binary,PHQ8_Score,Gender,PHQ8_NoInterest,PHQ8_Depressed,PHQ8_Sleep,PHQ8_Tired,PHQ8_Appetite,PHQ8_Failure,PHQ8_Concentrating,PHQ8_Moving
0,302,0,4,1,1,1,0,1,0,1,0,0
1,307,0,4,0,0,1,0,1,0,2,0,0
2,331,0,8,1,1,1,1,1,1,1,1,1
3,335,1,12,0,1,1,3,2,3,1,1,0
4,346,1,23,0,2,3,3,3,3,3,3,3

In [5]:
# df4 = pd.read_csv('full_test_split.csv',delimiter=',',encoding='utf-8')
# df4.head()

In [6]:
dataset1 = np.array(pd.read_csv('dev_split_Depression_AVEC2017.csv',delimiter=',',encoding='utf-8'))[:, 0:2]
dataset2 = np.array(pd.read_csv('full_test_split.csv',delimiter=',',encoding='utf-8'))[:, 0:2]
dataset3 = np.array(pd.read_csv('train_split_Depression_AVEC2017.csv',delimiter=',',encoding='utf-8'))[:, 0:2]

In [7]:
dataset2.shape

(47, 2)

In [8]:
dataset = np.concatenate((dataset1, np.concatenate((dataset2, dataset3))))

In [9]:
pos = []
neg = []

In [10]:
def checkPosNeg(dataset, index):
    for i in range(0, len(dataset)):
        if(dataset[i][0] == index):
            return dataset[i][1]
    return 0

In [11]:
for i in range(len(dataset)):
        if(dataset[i][1] == 1):
            neg.append(dataset[i][0])
        else:
            pos.append(dataset[i][0])
            
pos = np.array(pos)
neg = np.array(neg)

In [12]:
pos.shape, neg.shape

((133,), (56,))

In [13]:
df = pd.read_csv("300_TRANSCRIPT.csv",delimiter='\t',encoding='utf-8')
df.head()

,start_time,stop_time,speaker,value
0,36.588,39.668,Ellie,hi i'm ellie thanks for coming in today
1,39.888,43.378,Ellie,i was created to talk to people in a safe and ...
2,43.728,48.498,Ellie,think of me as a friend i don't judge i can't ...
3,49.188,52.388,Ellie,i'm here to learn about people and would love ...
4,52.658,58.958,Ellie,i'll ask a few questions to get us started and...

In [61]:
Data = []
Y = []
Data_test = []
Y_test = []
index = -1
for i in range(0, len(dataset3)):
    val = checkPosNeg(dataset, dataset3[i][0])
    Y.append(val)
    
    fileName = str(int(dataset3[i][0])) + "_TRANSCRIPT.csv"
    Data.append(np.array(pd.read_csv(fileName,delimiter='\t',encoding='utf-8'))[:, 2:4])


for i in range(0, len(dataset1)):
    val = checkPosNeg(dataset, dataset1[i][0])
    Y.append(val)
    fileName = str(int(dataset1[i][0])) + "_TRANSCRIPT.csv"
    Data.append(np.array(pd.read_csv(fileName,delimiter='\t',encoding='utf-8'))[:, 2:4])

In [62]:
for i in range(0, len(dataset2)):
    Y_test.append(checkPosNeg(dataset, dataset2[i][0]))
    fileName = str(int(dataset2[i][0])) + "_TRANSCRIPT.csv"
    Data_test.append(np.array(pd.read_csv(fileName,delimiter='\t',encoding='utf-8'))[:, 2:4])

In [66]:
Y_test

[0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0]

In [67]:
#Y = np.array(Y)
Data2 = []

Data2_test = []
#Y_test = np.array(Y_test)

In [68]:
for i in range(0, len(Data)):
    script = []
    for k in range(1, len(Data[i])):
        if(Data[i][k][0] == "Participant"):
            script.append(Data[i][k][1])
    Data2.append(script)
    
for i in range(0, len(Data_test)):
    script = []
    for k in range(1, len(Data_test[i])):
        if(Data_test[i][k][0] == "Participant"):
            script.append(Data_test[i][k][1])
    Data2_test.append(script)
        
# Data2 = np.array(Data2)
# Data2_test = np.array(Data2_test)

In [69]:
len(Data2)

142

In [70]:
max_num_words = 15
max_num_sentence = 200

In [71]:
len(Data2_test), len(Data2)

(47, 142)

In [72]:
%run preprocessing.ipynb

ERROR:root:File `'data.ipynb.py'` not found.

Requirement already satisfied: tweet-preprocessor in /usr/local/lib/python3.7/dist-packages (0.6.0)
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Package words is already up-to-date!

In [73]:
for n in range(len(Data2)):
  Data2[n] = remove_bad_symbols(str(Data2[n]))

In [74]:
for n in range(len(Data2_test)):
  Data2_test[n] = remove_bad_symbols(str(Data2_test[n]))

In [75]:
X = pd.DataFrame(Data2)
X_test = pd.DataFrame(Data2_test)

In [76]:
def stop_words_and_lemmatizer(text):
    """ Remove Stop words from text """
    stopwords = nltk.corpus.stopwords.words('english')
    stopwords.append('um')
    stopwords.append('uh')
    stopwords.append('like')
    stopwords.append('know')
    stopwords.append('m')
    stopwords.append('mm')
    stopwords.append('mhm')
    stop_words = set(stopwords)
    
    word_tokens = nltk.word_tokenize(text) 
    
    without_stopwords = [w for w in word_tokens if not w in stop_words]
    text = ' '.join(without_stopwords)
    return text

In [77]:
X = X[0]
X_test = X_test[0]

In [78]:
for n in range(len(X)):
  X[n] = stop_words_and_lemmatizer(X[n])

In [79]:
for n in range(len(X_test)):
  X_test[n] = stop_words_and_lemmatizer(X_test[n])

In [80]:
X.shape

(142,)

In [81]:
Y = pd.Series(Y)

In [82]:
Y_test = pd.Series(Y_test)

In [83]:
Y_test.shape

(47,)

In [84]:
from nltk.tokenize import word_tokenize
X_train = [word_tokenize(str(_)) for _ in X]
X_test = [word_tokenize(str(_)) for _ in X_test]

In [85]:
from gensim.models import Word2Vec
word2vec = Word2Vec(sentences=X_train, size=100, window=5, min_count=5)

In [86]:
word2vec.wv['depres']

KeyError: ignored

In [87]:
def embed_sentence(word2vec, sentence):
    # $CHALLENGIFY_BEGIN
    embedded_sentence = []
    for word in sentence:
        if word in word2vec.wv:
            embedded_sentence.append(word2vec.wv[word])
        
    return np.array(embedded_sentence)

def embedding(word2vec, sentences):
    # $CHALLENGIFY_BEGIN
    embed = []
    
    for sentence in sentences:
        embedded_sentence = embed_sentence(word2vec, sentence)
        embed.append(embedded_sentence)
        
    return embed
    # $CHALLENGIFY_END
    
X_train = embedding(word2vec, X_train)
X_test = embedding(word2vec, X_test)

In [88]:
from tensorflow.keras.preprocessing.sequence import pad_sequences
X_train_pad = pad_sequences(X_train, dtype='float', padding='post', maxlen= 400,truncating= 'post')
X_test_pad = pad_sequences(X_test, dtype='float', padding='post', maxlen = 400 , truncating = 'post')

In [89]:
# from sklearn.metrics import accuracy_score

# unique, counts = np.unique(Y, return_counts=True)
# counts = dict(zip(unique, counts))
# print('Number of labels in train set', counts)

# y_pred = 0 if counts[0] > counts[1] else 1

# print('Baseline accuracy: ', accuracy_score(y_test, [y_pred]*len(Y_test)))

In [100]:
from tensorflow.keras import Sequential
from tensorflow.keras import layers

def init_model():
    model = Sequential()
    model.add(layers.Masking())
    model.add(layers.LSTM(100, activation='tanh'))
    model.add(layers.Dense(100, activation='relu'))
    model.add(layers.Dense(1, activation='sigmoid'))

    model.compile(loss='binary_crossentropy',
                  optimizer='rmsprop',
                  metrics=['accuracy', 'AUC','Precision','Recall'])
    
    return model

model = init_model()

In [91]:
from tensorflow.keras.callbacks import EarlyStopping

es = EarlyStopping(patience=3, restore_best_weights=True)

history_fit = model.fit(X_train_pad, Y, 
          batch_size = 32,
          epochs=100,
          validation_split=0.3,
          callbacks=[es],
          verbose = 1
         )

Epoch 1/100
4/4 [==============================] - 14s 1s/step - loss: 0.6827 - accuracy: 0.5758 - auc: 0.4669 - precision: 0.3125 - recall: 0.3333 - val_loss: 0.6111 - val_accuracy: 0.7209 - val_auc: 0.5309 - val_precision: 0.0000e+00 - val_recall: 0.0000e+00
Epoch 2/100
4/4 [==============================] - 1s 258ms/step - loss: 0.6268 - accuracy: 0.6970 - auc: 0.4159 - precision: 0.0000e+00 - recall: 0.0000e+00 - val_loss: 0.5981 - val_accuracy: 0.7209 - val_auc: 0.5323 - val_precision: 0.0000e+00 - val_recall: 0.0000e+00
Epoch 3/100
4/4 [==============================] - 1s 259ms/step - loss: 0.6175 - accuracy: 0.6970 - auc: 0.4944 - precision: 0.0000e+00 - recall: 0.0000e+00 - val_loss: 0.5933 - val_accuracy: 0.7209 - val_auc: 0.5228 - val_precision: 0.0000e+00 - val_recall: 0.0000e+00
Epoch 4/100
4/4 [==============================] - 1s 257ms/step - loss: 0.6142 - accuracy: 0.6970 - auc: 0.4908 - precision: 0.0000e+00 - recall: 0.0000e+00 - val_loss: 0.5911 - val_accuracy: 0.7209 - val_auc: 0.5134 - val_precision: 0.0000e+00 - val_recall: 0.0000e+00
Epoch 5/100
4/4 [==============================] - 1s 260ms/step - loss: 0.6165 - accuracy: 0.6970 - auc: 0.4744 - precision: 0.0000e+00 - recall: 0.0000e+00 - val_loss: 0.5918 - val_accuracy: 0.7209 - val_auc: 0.5134 - val_precision: 0.0000e+00 - val_recall: 0.0000e+00
Epoch 6/100
4/4 [==============================] - 1s 261ms/step - loss: 0.6156 - accuracy: 0.6970 - auc: 0.4688 - precision: 0.0000e+00 - recall: 0.0000e+00 - val_loss: 0.5917 - val_accuracy: 0.7209 - val_auc: 0.5363 - val_precision: 0.0000e+00 - val_recall: 0.0000e+00
Epoch 7/100
4/4 [==============================] - 1s 257ms/step - loss: 0.6189 - accuracy: 0.6970 - auc: 0.4713 - precision: 0.0000e+00 - recall: 0.0000e+00 - val_loss: 0.5936 - val_accuracy: 0.7209 - val_auc: 0.5202 - val_precision: 0.0000e+00 - val_recall: 0.0000e+00

In [94]:
history_fit.history

{'accuracy': [0.5757575631141663,
  0.6969696879386902,
  0.6969696879386902,
  0.6969696879386902,
  0.6969696879386902,
  0.6969696879386902,
  0.6969696879386902],
 'auc': [0.46690818667411804,
  0.4159420430660248,
  0.49444448947906494,
  0.4908212721347809,
  0.47439610958099365,
  0.4688405990600586,
  0.4712560176849365],
 'loss': [0.6827013492584229,
  0.6267848014831543,
  0.6175321936607361,
  0.6142459511756897,
  0.616492748260498,
  0.6156113743782043,
  0.6188594698905945],
 'precision': [0.3125, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 'recall': [0.3333333432674408, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 'val_accuracy': [0.7209302186965942,
  0.7209302186965942,
  0.7209302186965942,
  0.7209302186965942,
  0.7209302186965942,
  0.7209302186965942,
  0.7209302186965942],
 'val_auc': [0.5309140086174011,
  0.5322580933570862,
  0.522849440574646,
  0.5134408473968506,
  0.5134408473968506,
  0.5362902879714966,
  0.5201612710952759],
 'val_loss': [0.6110789775848389,
  0.5980997085571289,
  0.5932683944702148,
  0.5911200046539307,
  0.5918058156967163,
  0.591680645942688,
  0.593636155128479],
 'val_precision': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 'val_recall': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]}

In [99]:
model.predict(X_test_pad)

array([[0.2709238 ],
       [0.25510764],
       [0.2885434 ],
       [0.25575143],
       [0.24741915],
       [0.24829394],
       [0.24737567],
       [0.27057543],
       [0.24971354],
       [0.26142186],
       [0.27133152],
       [0.26359472],
       [0.24891725],
       [0.2596902 ],
       [0.26389232],
       [0.24817571],
       [0.25556886],
       [0.2525866 ],
       [0.24855411],
       [0.24971825],
       [0.2594629 ],
       [0.24676082],
       [0.25158042],
       [0.2619045 ],
       [0.24928829],
       [0.25578308],
       [0.2503577 ],
       [0.26386744],
       [0.27367863],
       [0.2570005 ],
       [0.23968196],
       [0.24039426],
       [0.2550453 ],
       [0.25773674],
       [0.29827616],
       [0.25550738],
       [0.25528383],
       [0.27357987],
       [0.26290068],
       [0.25463793],
       [0.24846241],
       [0.25281662],
       [0.25294128],
       [0.2598849 ],
       [0.24281338],
       [0.30452183],
       [0.2517382 ]], dtype=float32)